* {
    box-sizing:border-box;
    margin:0;
    padding:0;

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-height:100vh;
    background-color:rgb(15, 67, 118);
}
.container{
    display:flex;
    flex-direction:column;
    padding:2rem;
    background-color:rgba(230,200,255,0.4);
    backdrop-filter:blur(4px);
    border-radius:20px;
    border: 1px solid black;
    transition: background 0.3s ease-in-out;
}
.key-container{
    display:flex;
    flex-direction:column;
    font-size:30px;
    font-weight:bold;
    padding:20px;
    color:#fff;
    margin:2.4rem;
    min-width:150px;
    background:rgba(0,255,255,0.5);
    backdrop-filter:blur(4px);
    border-radius:20px;
    border:1px solid black;
    transition: background 0.3s ease-in-out;
}
.key-container h4{
    position:absolute;
    top:-3rem;
    left:0;
    text-align:center;
    width:100%;
    text-decoration: underline;
}
.key-content{
    margin-top:10px;
}
.key-content:hover{
    color:black;
}
.container:hover{
    background:rgba(200,230,255,0.5);

    box-shadow:0px 8px 32px 0px rgba(233,184,39,0.6);
}
.key-container:hover{
    background:rgba(255,0,255,0.5);

    box-shadow:0px 8px 32px 0px rgba(233,184,39,0.6);
}
h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1:hover{
    text-decoration:underline;
    color:#fff;
}